.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 80%;
}

.closeModal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeModal:hover,
.closeModal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.taak_tekst_input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.taak_tekst_input:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.btn_taak {
  background-color: #d95d39;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

.btn_taak:focus {
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}

.btn_taak:hover {
  background-color: #c24f2f;
}

.list_header {
  color: white;
}



/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Style the list items */
.list li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 35px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  color: white;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
.list li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
.list li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
.list li.checked {
  background: #7b9e89;
  color: #fff;
  text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
.list li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

/* Style the close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
}

.close:hover {
  color: #ff0000;
}

/* Style the edit button */
.edit {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  margin-right: 25px;
}

.edit:hover {
  color: #ff9531;
}

/* Style the share button */
.share {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px;
  margin-right: 50px;
  text-decoration: none;
  color: black;
}

.share:hover {
  color: #1bc54e;
}